# Listes

Les listes en Python sont un ensemble ordonnés d'objets. Les objets peuvent être de type variés. Une liste peux contenir une liste.

## Une liste est une séquence

In [1]:
a = [10, 20, 30]
b = ['banane', 'orange', 'pomme']

Une indice permet d'accéder à un élément de liste.

In [2]:
a[1], b[2]

(20, 'pomme')

Une liste peux contenir différents types d'éléments.

In [10]:
c = [1, 1.2, '1.2']
for i in c:
    print(i, '  -  ', type(i))

1   -   <class 'int'>
1.2   -   <class 'float'>
1.2   -   <class 'str'>

Une liste à l'intérieur d'une autre liste est dite **imbriquée**.

In [13]:
[1, 2, [3, 4]]

[1, 2, [3, 4]]

Une liste qui ne contient aucun élément est une liste **vide**.

In [14]:
[]

[]

## Les listes sont modifiables

Contairement aux chaines de caractères, les listes sont modifiable.

In [47]:
a = [10, 20, 30]
a

[10, 20, 30]

In [18]:
a[1] = 'twenty'
a

[10, 'twenty', 30]

Le deuxième élément a[1] contenant la valeur numérique 20 a été remplacé par une chaine 'twenty'.

In [35]:
b = list(range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Un tranche de liste peux être remplacé par un élément.

In [36]:
b[3:7] = 'x'
b

[0, 1, 2, 'x', 7, 8, 9]

Un élément peux être remplacé par une liste.

In [37]:
b[4] = [10, 20]
b

[0, 1, 2, 'x', [10, 20], 8, 9]

Un élément peut être remplacé par une référence à une liste.

In [40]:
b[5] = a
b

[0, 1, 2, 'x', [10, 20], [10, 20, 30], 9]

Si la liste insérée **a** est modifié, la liste contenante **b** est également modififiée.

In [48]:
a[0] = 'xxx'
b

[0, 1, 2, 'x', [10, 20], ['xxxxxx', 40, 60], 9]

## Parcourir une liste

La boucle `for` permet de parcourir une liste, exactement de la même façon comme pour les chaînes.

In [49]:
for i in a:
    print(i)

xxx
20
30

Pour modifier une liste, on a besoin de l'indice. La boucle parcourt la liste et multiplie chaque élément par 2.

In [50]:
n = len(a)
for i in range(n):
    a[i] *= 2
a

['xxxxxx', 40, 60]

Si une liste est vide, la boucle n'est jamais parcourue.

In [51]:
for x in []:
    print('this never prints')

## Opérations sur listes

In [52]:
a = [1, 2, 3]
b = ['a', 'b']

L'opérateur `+` concatène des listes.

In [53]:
a+b

[1, 2, 3, 'a', 'b']

L'opérateur `*` répète une liste.

In [54]:
b * 3

['a', 'b', 'a', 'b', 'a', 'b']

In [55]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

La fonction `list` transforme un itérable comme `range(10)` en vraie liste.

In [56]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

La fonction `list` transforme aussi des chaines en vraie liste.

In [59]:
list('hello')

['h', 'e', 'l', 'l', 'o']

## Tranches de listes

In [61]:
t = list('abcdef')
t

['a', 'b', 'c', 'd', 'e', 'f']

L'opérateur de tranche `[m:n]` peut être utilisé avec des listes.

In [62]:
t[1:3]

['b', 'c']

In [63]:
t[:4]

['a', 'b', 'c', 'd']

In [64]:
t[4:]

['e', 'f']

In [66]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
a[:4]

[0, 1, 2, 3]

In [68]:
a[4:]

[4, 5, 6, 7, 8, 9]

## Méthodes de listes

La méthode `append` ajoute un élément à la fin d'une liste.

In [76]:
a = [1, 2, 3]
a.append('a')
a

[1, 2, 3, 'a']

La méthode `extent` ajoute les éléments d'une liste à la fin d'une liste.

In [77]:
a.extend([10, 20])
a

[1, 2, 3, 'a', 10, 20]

La méthode `sort` trie les éléments d'une liste.

In [80]:
c = [23, 12, 54, 2]
c.sort()
c

[2, 12, 23, 54]

Le paramètre optionnel `reverse` permet d'inverser l'ordre du tri.

In [83]:
c.sort(reverse=True)
c

[54, 23, 12, 2]

In [95]:
d = list('world')
d.sort()
d

['d', 'l', 'o', 'r', 'w']

La pluspart des méthdoes de liste renvoie rien (`None`).

In [97]:
a = d.sort()
print(a)

None

## Mapper, filtrer et réduire

Pour additionner toutes les éléments d'une liste vous pouvez initialiser la variable `total` à zéro, et additionner à chaque itération un élément de la liste. Une variable utilisée d'une telle façon est appelé un **accumulateur**.

In [98]:
def somme(t):
    total = 0
    for i in t:
        total += i
    return total

In [100]:
b = [1, 2, 32, 42]
somme(b)

77

L'addition des éléments d'une liste est fréquente et Python proprose une fonction `sum`.

In [101]:
sum(b)

77

In [105]:
def tout_en_majuscules(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

In [107]:
tout_en_majuscules(['good', 'hello', 'world'])

['Good', 'Hello', 'World']

La méthode `isupper` est vrai si toutes les lettres sont majuscules.

In [118]:
def seulement_majuscules(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

In [121]:
b = ['aa', 'AAA', 'Hello', 'HELLO']
seulement_majuscules(b)

['AAA', 'HELLO']

Une fonction comme `seulement_majuscules` s'appelle **filtre** car elle sélectionne certains éléments seuelement.

## Supprimer des éléments

Avec la méthode `pop` vous pouvez supprimer un élément.

In [129]:
a = list('hello')
a

['h', 'e', 'l', 'l', 'o']

La méthode `pop` modifie la liste et retourne un élément. Utilisé sans argument `pop` enlève le dernière élément de la liste.

In [130]:
a.pop()

'o'

In [131]:
a

['h', 'e', 'l', 'l']

Utilisé avec un argument, c'est cet élément qui est enlevé de la liste.

In [132]:
a.pop(0)

'h'

In [133]:
a

['e', 'l', 'l']

L'opérateur `del` permet également de supprimer un élément.

In [136]:
del(a[0])

In [137]:
a

['l', 'l']

## Liste de chaines de caractères

Une chaîne est une séquence de caractères, et de caractères uniquement. Une liste par contre est une séquence de n'importe quel type d'éléments. La fonction `list` permet de transformer un itérable comme une chaîne en liste.

In [139]:
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

Comme `list` est le nom d'une fonction interne, il ne faut pas l'utiliser comme nom de variable. 

Evitez d'utiliser la petite lettre L (`l`), car elle est pratiqument identique avec le chiffre un (`1`), donc ici le `t` est utilisé à la place.

La fonction `split` permet de découper une phrase en mots et de les retourner dans une liste.

In [141]:
s = 'je suis ici en ce moment'
t = s.split()
t

['je', 'suis', 'ici', 'en', 'ce', 'moment']

`join` est l'inverse de `split`.

In [144]:
'> <'.join(t)

'je> <suis> <ici> <en> <ce> <moment'

## Objets et valeurs
Deux variables qui font référence à la même chaine pointent vers le même objet. L'opérateur `is` retourne vrai si les deux variables pointent vers le même objet.

In [2]:
a = 'banane'
b = 'banane'
a is b

True

Deux variables qui sont initialisé avec la même liste ne sont pas les même objets.

In [7]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

Dans ce cas on dit que les deux listes sont **équivalentes**, mais pas identiques, car il ne s'agit pas du même objet.

## Aliasing

Si une variable est initialisé avec une autre variable, alors les deux pointent vers le même objet.

In [ ]:
a = [1, 2, 3]
b = a
a is bb

Si un élément de `b` est modifié, la variable `a` change également.

In [9]:
b[0] = 42
a

[42, 2, 3]

L'association entre une variable est un objet s'appelle **référence**. Dans cet exemple il existent deux références `a` et `b` vers le même objet.

Si les objets sont immuable (chaines, tuples) ceci ne pose pas de problème.

## Arguments de type liste

Si une liste est passée comme argument de fonction, la fonction peut modifier la list.

In [11]:
def modifie_list(t):
    t[0] *= 2
    t[1] = 42
    del t[2]

In [12]:
a = [1, 2, 3]
modifie_list(a)
a

[2, 42]

In [14]:
b = ['a', 'b', 'c']
modifie_list(b)
b

['aa', 42]

La méthode `append` modifie une liste, mais l'opérateur `+` crée une nouvelle liste.

In [18]:
t1 = [1, 2]
t2 = t1.append(3)
t1, t2

([1, 2, 3], None)

`append` modifie la liste et retourne `None`.

In [20]:
t3 = t1 + [4]
t3, t1

([1, 2, 3, 4], [1, 2, 3])

## Exercices

**Exercice 1**

Écrivez une fonction appelée `nested_sum` qui prend une liste de listes d'entiers et additionne les éléments de toutes les listes imbriquées.

In [22]:
def nested_sum(t):
    res = []
    for i in t:
        res.append(sum(i))
    return sum(res)

t = [[1, 2], [3], [4, 5, 6]]
nested_sum(t)

21

** Exercice 2**

Écrivez une fonction appelée `cumsum` qui prend une liste de nombres et renvoie la somme cumulative ; c'est-à-dire une nouvelle liste où le n-ième élément est la somme des premiers n + 1 éléments de la liste originale.

In [25]:
def cumsum(t):
    res = [t[0]]
    for i in range(1, len(t)):
        res.append(res[i-1]+t[i])
    return res

t = range(5)
cumsum(t)

[0, 1, 3, 6, 10]

**Exercice 3**

Écrivez une fonction appelée `middle` qui prend une liste et renvoie une nouvelle liste qui contient tous les éléments, sauf le premier et le dernier.

In [51]:
def middle(t):
    return t[1:-1]

t = list(range(10))
print(t)
print(middle(t))
print(t)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Exercice 4**

Écrivez une fonction appelée `chop` qui prend une liste, la modifie en supprimant le premier et le dernier élément, et retourne `None`.

In [50]:
def chop(t):
    del t[-1]
    del t[0]

t = list(range(10))
print(t)
print(chop(t))
print(t)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
None
[1, 2, 3, 4, 5, 6, 7, 8]

**Exercice 5**

Écrivez une fonction appelée `is_sorted` qui prend une liste comme paramètre et renvoie True si la liste est triée par ordre croissant et False sinon.

In [53]:
def is_sorted(t):
    n = len(t)
    for i in range(1, n):
        if t[i-1] > t[i]:
            return False
    return True

is_sorted([1, 2, 3])

True

In [54]:
is_sorted([11, 2, 3])

False